@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.bk-dash__btn {
    position: relative;
    padding: 8px;
    box-sizing: border-box;
    min-height: 80px;
    border-radius: 12px;

}

.bk-dash__btn:hover {
    text-decoration: none;

}

.bk-dash__btn--cover {
    min-width: 90px;
    height: 90px;
    margin-right: 10px;
    background-position: center;
    background-size: cover;
    border-radius: 12px;

}

.bk-dash__btn--icon {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-size: 19px;
}

.bk-dash__btn--label {
    font-family: 'Quicksand', sans-serif;
    ;
    font-weight: 600;
    font-size: 17px;
    color: #252525;
}

.bk-dash__btn--sublabel {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 11px;
    color: #252525;
}

.bk-dash__btn--value {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #ffc08f;
    line-height: 1;
    margin-top: 10px;
}